/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

ul > li {
  text-decoration: none;
  list-style-type: none;;
}

.container {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.content {
  min-height: 500px;
}

a {
  color: #DD0031;
  cursor: pointer;
  
  &:visited {
    color: #000;
  }
  
  &:hover {
    color: #C3002F;
  }
}